main {
    border: 1px solid grey;
  .first-part {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 7px 2px 7px;
    .home {
      font-weight: bold;
      font-size: 1.2em;
    }
    .fa-star {
      color: rgb(50, 142, 241);
    }
    
  }
  .whats-happening {
    .post-blocks {
      display: flex;
      flex-direction: row;
      textarea{
        background-color: $darkThemeColor;
        color: white;
        border: 1px solid #1c1d1d;
      }
      .post-profile {
        width: 20%;
        margin-left: 10px;
        margin-top: 3px;
        height: 100%;
      }
      .post-form {
        width: 68%;
        padding-top: 20px;
        padding-left: 10px;
      }
      
    }
    .post-icons{
      display: flex;
      flex-direction: row;
      .first-post-icons{
        width: 50%;
        margin-left: 10%;
      }
      .second-post-icons{
        width: 50%;
        margin-left: 15%;
        .fa-plus-circle{
          border-left: 1px solid grey;
        }
        button{
          @include round-border2(12px);
          width: 45%;
          @media screen and (max-width: 586px) { 
            @include round-border2(6px);
            width: 55%;
        }
        }
      }
      i{
        display: inline-block;
        padding: 10px;
        color:$signatureBlue;
        @media screen and (max-width: 586px) { 
            display: inline-block;
            padding: 0px;
            color:$signatureBlue;
        }
      }
      }
        
    }

    
}
