div[id="rightBlock" ]{
  .search{
    margin: 0 auto;
    form{
      margin-top: 3px;
      input{
        width:100%;
        @include round-border;
        padding: 5px 5px 5px 30px;
        color: white;
        background-color: #1a1b1b;
        border: 0.5px solid #1a1b1b;
      
      }
      button{
        
      }
    }
  }
 
  border: 1px solid orangered;
  .other-profiles {
    width:100%;
    .heading {
      width: 100%;
      border: 1px solid wheat;
    }
    .profile-1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid wheat;
      .profile-name {
        width: 53%;
        border: 1px solid yellow;
      }
      .profile-img {
        width: 18%;
      }
      .follow-btn {
        width: 29%;
      }
      div{
        border: 1px solid orchid;
      }
    }
  }
}