@import 'mixins';

$signatureBlue: rgb(50, 142, 241);
$darkThemeColor: #232525;

* {

  padding: 0;
  margin: 0;
}

body {
  background-color: $darkThemeColor;
  color: #EAE8D4;
}


.container{
  min-width: 100%;
  @import 'navStyles';
  @import 'mainStyles';
  @import 'asideBlock';
}



