* {
  padding: 0;
  margin: 0; }

body {
  background-color: #151615;
  color: #EAE8D4; }
  body .avatar {
    border-radius: 50%;
    width: 100%; }

.container {
  min-width: 100%; }
  .container nav {
    font-size: 1.2em;
    font-weight: 650;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 15px; }
    .container nav .fa-twitter {
      color: white;
      display: block;
      padding: 8px;
      margin-top: 10px; }
    .container nav svg {
      color: white; }
    .container nav .nav-link {
      color: #FFFDE7;
      text-decoration: none; }
      .container nav .nav-link i {
        padding-right: 20px; }
    .container nav a:hover {
      color: #328ef1; }
    .container nav .tweeterBtn {
      margin: 9.5px;
      padding: 12px 57px;
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      -ms-border-radius: 23px;
      border-radius: 23px; }
    .container nav .mobile-post {
      display: none;
      color: #328ef1;
      padding-left: 16px; }
    @media screen and (max-width: 991px) {
      .container nav .menu-text {
        display: none; }
      .container nav .mobile-post {
        display: block; }
      .container nav .tweeterBtn {
        display: none; } }
  .container main {
    border: 1px solid grey; }
    .container main .first-part {
      border-bottom: 1px solid grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 7px 2px 7px; }
      .container main .first-part .home {
        font-weight: bold;
        font-size: 1.2em; }
      .container main .first-part .fa-star {
        color: #328ef1; }
    .container main .whats-happening .post-blocks {
      display: flex;
      flex-direction: row; }
      .container main .whats-happening .post-blocks textarea {
        background-color: #151615;
        color: white;
        border: 1px solid #1c1d1d; }
      .container main .whats-happening .post-blocks .post-profile {
        width: 20%;
        margin-left: 10px;
        margin-top: 3px;
        height: 100%; }
      .container main .whats-happening .post-blocks .post-form {
        width: 68%;
        padding-top: 20px;
        padding-left: 10px; }
    .container main .whats-happening .post-icons {
      display: flex;
      flex-direction: row; }
      .container main .whats-happening .post-icons .first-post-icons {
        width: 50%;
        margin-left: 10%; }
      .container main .whats-happening .post-icons .second-post-icons {
        width: 50%;
        margin-left: 15%; }
        .container main .whats-happening .post-icons .second-post-icons .fa-plus-circle {
          border-left: 1px solid grey; }
        .container main .whats-happening .post-icons .second-post-icons button {
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          border-radius: 12px;
          width: 45%; }
          @media screen and (max-width: 586px) {
            .container main .whats-happening .post-icons .second-post-icons button {
              -webkit-border-radius: 6px;
              -moz-border-radius: 6px;
              -ms-border-radius: 6px;
              border-radius: 6px;
              width: 55%; } }
      .container main .whats-happening .post-icons i {
        display: inline-block;
        padding: 10px;
        color: #328ef1; }
        @media screen and (max-width: 586px) {
          .container main .whats-happening .post-icons i {
            display: inline-block;
            padding: 0px;
            color: #328ef1; } }
  .container div[id="rightBlock"] .search {
    margin: 0 auto; }
    .container div[id="rightBlock"] .search form {
      margin-top: 3px; }
      .container div[id="rightBlock"] .search form input {
        width: 100%;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        -ms-border-radius: 23px;
        border-radius: 23px;
        padding: 5px 5px 5px 50px;
        color: white;
        background-color: #1a1b1b;
        border: 0.5px solid #494848;
        background-image: url("../images/search22.png");
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: left center;
        outline: 0; }
  .container div[id="rightBlock"] .other-profiles {
    width: 100%;
    padding: 8px 0px;
    border: 1px solid #494848;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    border-radius: 23px; }
    .container div[id="rightBlock"] .other-profiles .heading {
      width: 100%;
      padding-left: 8px;
      color: #FFFDE7; }
    .container div[id="rightBlock"] .other-profiles .profile-1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 8px 7px;
      border: 1px solid #494848; }
      .container div[id="rightBlock"] .other-profiles .profile-1 .twitter-account {
        font-size: 0.8em;
        color: grey; }
      .container div[id="rightBlock"] .other-profiles .profile-1 .profile-name {
        width: 55%; }
      .container div[id="rightBlock"] .other-profiles .profile-1 .profile-img {
        width: 16%; }
      .container div[id="rightBlock"] .other-profiles .profile-1 .follow-btn {
        width: 28%; }
        .container div[id="rightBlock"] .other-profiles .profile-1 .follow-btn button {
          border: 1px solid #328ef1;
          color: #328ef1;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          padding: 2px 7px;
          background-color: #151615; }
        .container div[id="rightBlock"] .other-profiles .profile-1 .follow-btn button:hover {
          background-color: #2c2b2b; }
  .container div[id="rightBlock"] div[id="policy"] {
    text-align: center;
    font-size: 0.86em;
    color: grey; }
  .container #tweets {
    border: 1px solid gray;
    min-height: 500px; }
    .container #tweets .tweet-1 {
      display: flex;
      flex-direction: row;
      padding: 8px 8px;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray; }
      .container #tweets .tweet-1 .tweet-img {
        width: 13%; }
        .container #tweets .tweet-1 .tweet-img img {
          border-radius: 50%;
          width: 100%; }
      .container #tweets .tweet-1 .tweet-txt {
        width: 83%;
        padding-left: 5px; }
        .container #tweets .tweet-1 .tweet-txt .twitter-account {
          font-size: 0.95em;
          color: grey; }
        .container #tweets .tweet-1 .tweet-txt .date {
          font-size: 0.85em; }
        .container #tweets .tweet-1 .tweet-txt .tweet-icons {
          padding-top: 7px; }
          .container #tweets .tweet-1 .tweet-txt .tweet-icons i {
            width: 23%;
            float: left; }

/*# sourceMappingURL=index.css.map */
